{% extends 'base.html' %}
{% block body %}

  <div class="container my-3" >
 <h3 class="shadow my-2 text-center " style="color:rgb(0, 0, 0)">Select from the Hotels to book a Room/Restaura</h3><br>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/novo" class="d-block w-100" style="height: 250px;">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Novotel Ahemdabad</h5>
            <p class="card-text">Novotel Ahmedabad – a 5 star contemporary business hotel located in the central business district of Ahmedabad on S G Highway with easy access to Gandhinagar, Sanand.
            </p>
            <div class="d-flex justify-content-between align-items-center"> 
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
              </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/hyatt" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Hyatt Regency Ahemdabad</h5>
            <p class="card-text">Situated in the central business district of Ahmedabad, Hyatt Regency Ahmedabad is set on Ashram road with scenic views of Sabarmati River.</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/double" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">DoubleTree by Hilton Ahemdabad</h5>
            <p class="card-text">Located in Ahmedabad, 4 km from IIM, DoubleTree by Hilton Ahmedabad provides accommodation with a restaurant, free private parking, a fitness centre and a shared lounge.
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/holiday" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Holiday Inn Express Ahemdabad Prahlad Nagar,an IHG Hotel</h5>
            <p class="card-text">Holiday Inn Express Ahmedabad Prahlad Nagar offers comfortable rooms in the shopping area just off S G Road. 
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/radi" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Radisson Blu Hotel Ahemdabad</h5>
            <p class="card-text">Situated 4 km from the famous Sabarmati Ashram, Radisson Blu Ahmedabad features a 24-hour front desk, a spa and wellness centre, a fitness centre.</p>
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/hy" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Hyatt Ahemdabad</h5>
            <p class="card-text">Located just 45 minutes drive away from the Sardar Vallabhbhai Patel Airport, Hyatt Ahmedabad features a full-service spa, 3 food and beverage outlets and a swimming pool.</p>
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/fortune" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Fortune Landmark Hotel-Member ITC Hotel Group</h5>
            <p class="card-text">Only 1 km from downtown Ahmedabad, the Fortune Landmark Hotel offers air-conditioned rooms and 3 dining options.</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/fair" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Fairfield by Marriott Ahemdabad</h5>
            <p class="card-text">Centrally located in Ahmedabad, the 4-star Fairfield by Marriott Ahmedabad offers a fitness centre, a 24-hour business centre and free Wi-Fi access.</p>
          <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/four" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Four Points by Sheraton Ahemdabad</h5>
            <p class="card-text">Located in Ahmedabad’s business hub,Four Points by Sheraton features rooms with sweeping views of the city.
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}