{% extends 'base.html' %}
{% block body %}

  <div class="container my-3" >
 <h3 class="shadow my-2 text-center " style="color:rgb(0, 0, 0)">Select from the Hotels to book a Room/Restaura</h3><br>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/grand" class="d-block w-100" style="height: 250px;">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Grand Mercure Vadodara Surya Palace</h5>
            <p class="card-text">It features a restaurant, swimming pool, fitness centre, spa and rooms with a 32-inch flat-screen TV.
            </p>            <div class="d-flex justify-content-between align-items-center"> 
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
              </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/royal" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Hotel Royal</h5>
            <p class="card-text">Situated in Vadodara, 3.6 km from Lakshmi Vilas Palace, Hotel Royal offers accommodation with free WiFi and free private parking.</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/alka" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">welcomehotel by ITC hotel,Alkapuri,Vadodara</h5>
            <p class="card-text">Offering a year-round outdoor pool, Welcomhotel by ITC Hotels,Alkapuri,Vadodara is set in Vadodara in the Gujarat Region. 
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/sayaji" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Sayaji Hotel Vadodara</h5>
            <p class="card-text">Located in Vadodara 2 minutes from Vadodara Railway Station and offering complimentary round trip airport transfers from Vadodara Airport.
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/grg" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Hotel GRG</h5>
            <p class="card-text">Located in Vadodara, 3.5 km from Lakshmi Vilas Palace, Hotel GRG provides accommodation with a restaurant, free private parking, a shared lounge and a terrace. 
                
               
            </p> 
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/prom" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Fortune Inn Promenade, Member Hotel ITC Group, Vadodara</h5>
            <p class="card-text">Boasting a fitness centre, Fortune Inn Promenade is situated in Vadodara.  </p>
            </p><br>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/vivanta" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Vivanata Vadodara</h5>
            <p class="card-text">Vivanta Vadodara stands majestically overlooking the Laxmi Vilas Palace which is 3 km away. The Statue of Unity is 100 km away.</p><br>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/akota" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Hotel Orchid Central Akota</h5>
            <p class="card-text">Royal Orchid Central Akota is located in the heart of the city,4 km from the Alkapuri Shopping area.Overlooking the beautiful Vadodara Palace.</p>
           <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/fern" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">The Fern Residency,Vadodara</h5>
            <p class="card-text">The Fern Residency offers 34 elegant and well-appointed rooms in Vadodara. It houses a restaurant, a business centre and a tour desk.
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}