{% extends 'base.html' %}
{% block body %}

  <div class="container my-3" >
 <h3 class="shadow my-2 text-center " style="color:rgb(0, 0, 0)">Select from the Hotels to book a Room/Restaura</h3><br>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/court" class="d-block w-100" style="height: 250px;">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Courtyard by Mariott Surat</h5>
            <p class="card-text">Courtyard by Marriott Surat in Surat features a terrace. Featuring a restaurant, hotel has air-conditioned rooms each with a private bathroom.
            </p>
            <div class="d-flex justify-content-between align-items-center"> 
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
              </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/mari" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Surat Mariott Hotel</h5>
            <p class="card-text">Located along Tapti River, Surat Marriott Hotel features an outdoor pool, spa and gym. It is just 2 km from shopping in Parle Point, Ghod Dod Road and Piplo. Free parking is provided.</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/orange" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Orange Magastructure LLP,Formerly TGB Surat Upcoming as Le Meridien</h5>
            <p class="card-text">Orange Megastructure LLP, formerly TGB Surat upcoming as Le Meridien offers an olympic size swimming pool.
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/ginger" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Ginger Surat City Center</h5>
            <p class="card-text">Situated in Surat, 10 km from Mayank Aquaculture, Ginger Surat City Centre features accommodation with a restaurant, free private parking and a fitness centre. 
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/oyo" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">OYO Flagship 36956 La Casa Hotel & Banquets</h5>
            <p class="card-text">Situated in Surat, Gujarat region, OYO Flagship 36956 La Casa Hotel & Banquets is set 12 km from Mayank Aquaculture. </p>
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/orange1" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Hotel Orange International</h5>
            <p class="card-text">Located in Surat, 9 km from Mayank Aquaculture, Hotel Orange International provides accommodation with a restaurant, free private parking. </p>
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/sifat" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Hotel Sifat International</h5>
            <p class="card-text">Situated 11 km from Mayank Aquaculture, Hotel Sifat International offers rooms with air conditioning in Surat. Location is great. Breakfast is amazing. Staff were helpful.</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/beacon" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Central Beacon Hotel</h5>
            <p class="card-text">Located in the heart of the city, Hotel Central Excellency is just 200 metres away from Surat Railway Station. It features a 24-hour front desk and free Wi-Fi anywhere on property.</p>
          <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/lord" class="d-block w-100" style="height:250px">
          <div class="card-body" style="height:200px">
            <h5 class="card-text">Lords Plaza</h5>
            <p class="card-text">Offering luxurious rooms with modern amenities, Lords Plaza also provides a rooftop swimming pool, a fitness centre and a tour desk. All rooms are provided with free Wi-Fi.
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/login/" style="text-decoration: none;color: gray;">Rooms</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Restaura</button>
                  </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}